{{ $tags := site.Taxonomies.tags }}
{{ if $tags }}
<details class="card card--collapsible" id="tags">
  <summary class="card__head card__head--toggle">
    <span class="card__title">TAGS</span>
    <span class="card__aux">{{ len $tags }}</span>
    <span class="card__chevron" aria-hidden="true">▾</span>
  </summary>
  <div class="tags">
    {{ range $name, $value := $tags }}
      <a class="tag" href="{{ "/tags/" | relURL }}{{ $name | urlize }}/">#{{ $name }}<span class="tag__count">{{ len $value.Pages }}</span></a>
    {{ end }}
  </div>
</details>
{{ end }}
